main {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

body {
  background-image: url("LibraryManagement.jpg");
}
.bg{
  background-color: white;
  padding-left: 1%;
  padding-right: 1%;
}
table {
  margin: 50px auto;
  background-color: rgb(186, 175, 212);
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #000;
}

th,
td {
  padding: 5px;
}
